<!--component html goes here -->
<toaster-container [toasterconfig]="config1"></toaster-container>
<div class="m-content">
    <!--begin:: Widgets/Stats-->
    <div class="m-portlet">
        <div class="row">
            <div class="col-xl-6">
                <div class="m-portlet m-portlet--creative m-portlet--bordered-semi" style="height: 85%">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--primary" style="width: 200px !important;">
                                    <span>
                                        Tanıtım Resimleri
                                    </span>
                                </h2>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
                                        aria-expanded="true">
                                        <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                            <i class="la la-ellipsis-h m--font-brand"></i>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav">
                                                            <li class="m-nav__section m-nav__section--first">
                                                                <span class="m-nav__section-text">
                                                                    İşlemler
                                                                </span>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a (click)="this.form.reset(); this.popupTitle='Yeni Ekle'" href="" class="m-nav__link" data-toggle="modal" data-target="#modelTanitimResimleri">
                                                                    <i class="m-nav__link-icon flaticon-user-add"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Yeni Ekle
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link" data-toggle="modal" data-target="#modalConfirm">
                                                                    <i class="m-nav__link-icon flaticon-delete"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Sil
                                                                    </span>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin: Datatable -->
                        <dx-data-grid (onRowClick)="rowClick($event)" #grid id="gridContainer" [dataSource]="imgDataSource" [showRowLines]="true"
                            [showBorders]="true">

                            <dxo-paging [pageSize]="20"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true">
                            </dxo-pager>
                            <dxo-selection [selectAllMode]="allPages" [showCheckBoxesMode]="onClick" mode="multiple"></dxo-selection>
                            <dxi-column dataField="info"></dxi-column>
                            <dxi-column dataField="statu"></dxi-column>
                            <dxi-column caption="Resim" dataField="data" cellTemplate="imageTemplate2"></dxi-column>
                            <div *dxTemplate="let data of 'imageTemplate2'">
                                <img style="height:50px; width:50px; float: right;" [src]="'data:image/jpg;base64,'+data.value" />
                            </div>
                        </dx-data-grid>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>


            <div class="col-xl-6">
                <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--warning" style="width: 280px !important;">
                                    <span>
                                        Çalışma ve Ödeme Bilgileri
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label>
                                            Çalışma Saatleri:
                                        </label>
                                        <nouislider [tooltips]="[ true, true ]" [config]="someKeyboardConfig" [(ngModel)]="someRange"></nouislider>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="">
                                            Telefon Numarası:
                                        </label>
                                        <input [(ngModel)]="phone" type='text' class="form-control">
                                        <span class="m-form__help">
                                            <code>
                                            (999) 999-9999
                                        </code>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label>
                                            Çalışma Günleri:
                                        </label>
                                        <ss-multiselect-dropdown [texts]="myTexts" [options]="calismaGunleri" [(ngModel)]="calismaGunleriModel"></ss-multiselect-dropdown>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>
                                            Ödeme Tipleri:
                                        </label>
                                        <ss-multiselect-dropdown [texts]="myTexts" [options]="odemeTipleri" [(ngModel)]="odemeTipleriModel"></ss-multiselect-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                                <div class="m-form__actions m-form__actions--solid">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <button type="reset" class="btn btn-primary" (click)="btnCalismaOdeme()">
                                                Kaydet
                                            </button>
                                            <button type="reset" class="btn btn-secondary">
                                                İptal
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-xl-6">
                <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--danger" style="width: 170px !important;">
                                    <span>
                                        Adres Bilgileri
                                    </span>
                                </h2>
                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__body">
                        <div class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label class="">
                                            Enlem:
                                        </label>
                                        <input type='text' class="form-control">
                                        <span class="m-form__help">

                                        </span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="">
                                            Boylam:
                                        </label>
                                        <input type='text' class="form-control">
                                        <span class="m-form__help">

                                        </span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label class="">
                                            Açık Adres:
                                        </label>
                                        <textarea rows="10" cols="50" class="form-control"></textarea>
                                        <span class="m-form__help">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                                <div class="m-form__actions m-form__actions--solid">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <button type="reset" class="btn btn-primary">
                                                Kaydet
                                            </button>
                                            <button type="reset" class="btn btn-secondary">
                                                İptal
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


            <div class="col-xl-6">
                <div class="m-portlet m-portlet--creative m-portlet--bordered-semi" style="height: 89%">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--success" style="width: 200px !important;">
                                    <span>
                                        Ürün Tanımlama
                                    </span>
                                </h2>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
                                        aria-expanded="true">
                                        <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                            <i class="la la-ellipsis-h m--font-brand"></i>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav">
                                                            <li class="m-nav__section m-nav__section--first">
                                                                <span class="m-nav__section-text">
                                                                    İşlemler
                                                                </span>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a (click)="this.form.reset(); this.popupTitle='Yeni Ekle'" href="" class="m-nav__link" data-toggle="modal" data-target="#modelUrunEkleme">
                                                                    <i class="m-nav__link-icon flaticon-user-add"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Yeni Ekle
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link" data-toggle="modal" data-target="#modalConfirm">
                                                                    <i class="m-nav__link-icon flaticon-delete"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Sil
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link" (click)="btnEditUrun(urunGrid);  this.popupTitle='Düzenle'" data-toggle="modal" data-target="#modelUrunEkleme">
                                                                    <i class="m-nav__link-icon flaticon-edit"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Düzenle
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin: Datatable -->
                        <dx-data-grid #urunGrid id="gridContainer" [dataSource]="urunListesi" [showRowLines]="true" [showBorders]="true">

                            <dxo-paging [pageSize]="20"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true">
                            </dxo-pager>
                            <dxo-selection [selectAllMode]="allPages" [showCheckBoxesMode]="onClick" mode="multiple"></dxo-selection>
                            <dxi-column caption="Açıklama" dataField="description"></dxi-column>
                            <dxi-column caption="Bitiş Tarih" dataField="dueDate"></dxi-column>
                            <dxi-column caption="Durum" dataField="status" cellTemplate="statusTemplate"></dxi-column>

                            <div *dxTemplate="let data of 'statusTemplate'">
                                <span *ngIf="data.value === 0">Onay Bekleyen</span>
                                <span *ngIf="data.value === 1">Onaylı</span>
                            </div>
                        </dx-data-grid>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6">
                <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--info" style="width: 250px !important;">
                                    <span>
                                        Promosyon Tanımlama
                                    </span>
                                </h2>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
                                        aria-expanded="true">
                                        <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                            <i class="la la-ellipsis-h m--font-brand"></i>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav">
                                                            <li class="m-nav__section m-nav__section--first">
                                                                <span class="m-nav__section-text">
                                                                    İşlemler
                                                                </span>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a (click)="this.form.reset(); this.popupTitle='Yeni Ekle'" href="" class="m-nav__link" data-toggle="modal" data-target="#modelPromosyonEkleme">
                                                                    <i class="m-nav__link-icon flaticon-user-add"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Yeni Ekle
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link" data-toggle="modal" data-target="#modalConfirm">
                                                                    <i class="m-nav__link-icon flaticon-delete"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Sil
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link" (click)="btnEditPromosyon(gridPromosyon); this.popupTitle='Düzenle'" data-toggle="modal" data-target="#modelPromosyonEkleme">
                                                                    <i class="m-nav__link-icon flaticon-edit"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Düzenle
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin: Datatable -->
                        <dx-data-grid #gridPromosyon id="gridContainer" [dataSource]="promosyonListesi" [showRowLines]="true" [showBorders]="true">
                            <dxo-paging [pageSize]="20"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true">
                            </dxo-pager>
                            <dxo-selection [selectAllMode]="allPages" [showCheckBoxesMode]="onClick" mode="multiple"></dxo-selection>
                            <dxi-column caption="Açıklama" dataField="product.Description"></dxi-column>
                            <dxi-column caption="Durum" dataField="status" cellTemplate="statusTemplate"></dxi-column>
                            <div *dxTemplate="let data of 'statusTemplate'">
                                <span *ngIf="data.value === 0">Onay Bekleyen</span>
                                <span *ngIf="data.value === 1">Onaylı</span>
                            </div>
                            <dxi-column caption="Hak" dataField="claim"></dxi-column>
                        </dx-data-grid>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--accent" style="width: 200px !important;">
                                    <span>
                                        Menü Tanımlama
                                    </span>
                                </h2>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
                                        aria-expanded="true">
                                        <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                            <i class="la la-ellipsis-h m--font-brand"></i>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav">
                                                            <li class="m-nav__section m-nav__section--first">
                                                                <span class="m-nav__section-text">
                                                                    İşlemler
                                                                </span>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a (click)="this.form.reset(); this.popupTitle='Yeni Ekle'" href="" class="m-nav__link" data-toggle="modal" data-target="#modalMenuEkleme">
                                                                    <i class="m-nav__link-icon flaticon-user-add"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Yeni Ekle
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link" data-toggle="modal" data-target="#modalConfirm">
                                                                    <i class="m-nav__link-icon flaticon-delete"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Sil
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin: Datatable -->
                        <dx-data-grid #gridMenu id="gridContainer" [dataSource]="menuListesi" [showRowLines]="true" [showBorders]="true">

                            <dxo-paging [pageSize]="20"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true">
                            </dxo-pager>
                            <dxo-selection [selectAllMode]="allPages" [showCheckBoxesMode]="onClick" mode="multiple"></dxo-selection>
                            <dxi-column caption="Menu Detaylı" dataField="menuDetail"></dxi-column>
                            <dxi-column caption="Resim" dataField="image" cellTemplate="imageTemplate"></dxi-column>
                            <div *dxTemplate="let data of 'imageTemplate'">
                                <img style="height:50px; width:50px; float: right;" [src]="'data:image/jpg;base64,'+data.value" />
                            </div>
                        </dx-data-grid>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modelTanitimResimleri" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Resim Ekle
                </h5>
                <button id="btnCloseImageModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">
                            Açıklama :
                        </label>
                        <div [hidden]="form.controls.Info.valid || form.controls.Info.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                        <input formControlName="Info" type="text" class="form-control" id="recipient-name1" required>
                    </div>

                    <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                            Dosya Seç :
                        </label>
                        <div></div>
                        <label class="custom-file">
                            <input type="file" id="file2" (change)="onFileChange($event)" #fileInput accept="image/*" class="custom-file-input">
                            <span class="custom-file-control">{{fileInput.name}}</span>
                        </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Kapat
                    </button>
                    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
                        Kaydet
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Ürün ekleme Modalı -->
<div class="modal fade" id="modelUrunEkleme" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Ürün Ekle
                </h5>
                <button id="btnCloseUrunEkleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form [formGroup]="formUrunEkleme" (ngSubmit)="onSubmitUrunEkle()">

                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">
                            Açıklama :
                        </label>
                        <div [hidden]="form.controls.Info.valid || form.controls.Info.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                        <input formControlName="Description" type="text" class="form-control" id="recipient-name1" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Kapat
                    </button>
                    <button [disabled]="!formUrunEkleme.valid" type="submit" class="btn btn-primary">
                        Kaydet
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Promosyon ekleme Modalı -->
<div class="modal fade" id="modelPromosyonEkleme" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Promosyon Ekle
                </h5>
                <button id="btnClosePromosyonEkleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form [formGroup]="formPromosyonEkleme" (ngSubmit)="onSubmitPromosyonEkle()">

                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group m-form__group">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                Ürün
                            </label>
                            <dx-select-box formControlName="ProductId" [dataSource]="urunListesi" valueExpr="id" displayExpr="description"> </dx-select-box>
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Hak Sayısı:
                            </label>
                            <input formControlName="Claim" type="text" class="form-control m-input" placeholder="">
                            <!-- <div [hidden]="form.controls.Claim.valid || form.controls.Claim.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div> -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Kapat
                    </button>
                    <button [disabled]="!formUrunEkleme.valid" type="submit" class="btn btn-primary">
                        Kaydet
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Menu ekleme Modalı -->
<div class="modal fade" id="modalMenuEkleme" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Menu Ekle
                </h5>
                <button id="btnCloseMenuEkleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form [formGroup]="formMenuEkleme" (ngSubmit)="onSubmitMenuEkle()">

                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group m-form__group">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                Resim :
                            </label>
                            <div></div>
                            <label class="custom-file">
                                <input type="file" id="file2" (change)="onFileChangeMenu($event)" #fileInput accept="image/*" class="custom-file-input">
                                <span class="custom-file-control">{{fileInput.name}}</span>
                            </label>
                        </div>
                        <div class="form-group m-form__group">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                Menu Detayı :
                            </label>
                            <input formControlName="MenuDetail" type="text" class="form-control m-input" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Kapat
                    </button>
                    <button [disabled]="!formMenuEkleme.valid" type="submit" class="btn btn-primary">
                        Kaydet
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<dx-popup class="popup" [showTitle]="true" title="Resim" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="popupImgVisible">
    <div *dxTemplate="let data of 'content'">
        <img [src]="'data:image/jpg;base64,'+imagePath" />
    </div>
</dx-popup>


<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Sil
                </h5>
                <button id="btnCloseConfirmModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Silme işlemine devam etmek istediğinize emin misinizz ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Kapat
                </button>
                <button type="submit" (click)="btnDeleteContract(gridContract)" class="btn btn-primary">
                    Sil
                </button>
            </div>
        </div>
    </div>
</div>