<!-- END: Subheader -->
<toaster-container [toasterconfig]="config1"></toaster-container>
<div class="m-content">
    <!--begin:: Widgets/Stats-->
    <div class="m-portlet">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--mobile">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Kullanıcılar
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                                        <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                            <i class="la la-ellipsis-h m--font-brand"></i>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav">
                                                            <li class="m-nav__section m-nav__section--first">
                                                                <span class="m-nav__section-text">
                                                                    İşlemler
                                                                </span>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a (click)="this.form.reset(); this.popupTitle='Yeni Ekle'" href="" class="m-nav__link" data-toggle="modal" data-target="#m_modal_4">
                                                                    <i class="m-nav__link-icon flaticon-user-add"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Yeni Ekle
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link" data-toggle="modal" data-target="#modalConfirm">
                                                                    <i class="m-nav__link-icon flaticon-delete"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Sil
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link" (click)="btnEdit(); this.popupTitle='Düzenle'" data-toggle="modal" data-target="#m_modal_4">
                                                                    <i class="m-nav__link-icon flaticon-edit"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Düzenle
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin: Datatable -->
                        <dx-data-grid #grid id="gridContainer" [dataSource]="dataSource" [showRowLines]="true" [showBorders]="true">
                            <dxo-paging [pageSize]="20"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true">
                            </dxo-pager>
                            <dxo-selection [selectAllMode]="allPages" [showCheckBoxesMode]="onClick" mode="multiple"></dxo-selection>
                        </dx-data-grid>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="m-portlet m-portlet--creative m-portlet--bordered-semi" style="height: 85%">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--primary" style="width: 300px !important;">
                                    <span>
                                        Onay Bekleyen Ürünler
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin: Datatable -->
                        <dx-data-grid #grid id="gridContainer" [dataSource]="waitingProduct" [showRowLines]="true" [showBorders]="true">
                            <dxo-paging [pageSize]="20"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true">
                            </dxo-pager>
                            <dxi-column dataField="restName"></dxi-column>
                            <dxi-column dataField="productName"></dxi-column>
                            <dxi-column dataField="status"></dxi-column>
                            <dxi-column captipn="İşlemler" cellTemplate="islemTemplate"></dxi-column>
                            <div *dxTemplate="let data of 'islemTemplate'">
                                <button type="button" class="btn m-btn--pill m-btn--air btn-outline-primary" (click)="btnUrunOnay(data)" data-dismiss="modal">
                                    Onayla
                                </button>
                                <button type="button" class="btn m-btn--pill m-btn--air btn-outline-danger" (click)="btnUrunRed(data)" data-dismiss="modal">
                                    Reddet
                                </button>
                            </div>
                        </dx-data-grid>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--warning" style="width: 340px !important;">
                                    <span>
                                        Onay Bekleyen Promosyonlar
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <dx-data-grid #grid id="gridContainer" [dataSource]="waitingPromotion" [showRowLines]="true" [showBorders]="true">
                            <dxo-paging [pageSize]="20"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true">
                            </dxo-pager>
                            <dxi-column dataField="restName"></dxi-column>
                            <dxi-column dataField="productName"></dxi-column>
                            <dxi-column dataField="claim"></dxi-column>
                            <dxi-column dataField="status"></dxi-column>
                            <dxi-column captipn="İşlemler" cellTemplate="islemTemplate"></dxi-column>
                            <div *dxTemplate="let data of 'islemTemplate'">
                                <button type="button" class="btn m-btn--pill m-btn--air btn-outline-primary" (click)="btnPromosyonOnay(data)" data-dismiss="modal">
                                    Onayla
                                </button>
                                <button type="button" class="btn m-btn--pill m-btn--air btn-outline-danger" (click)="btnPromosyonRed(data)" data-dismiss="modal">
                                    Reddet
                                </button>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="m-portlet m-portlet--mobile m-portlet--creative m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--danger" style="width: 340px !important;">
                                    <span>
                                        Kontratlar
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools" id="custom-mobile-head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m--font-brand"></i>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__section m-nav__section--first">
                                                            <span class="m-nav__section-text">
                                                                İşlemler
                                                            </span>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a (click)="this.form.reset(); this.popupTitle='Yeni Ekle'" href="" class="m-nav__link" data-toggle="modal" data-target="#m_modal_5">
                                                                <i class="m-nav__link-icon flaticon-user-add"></i>
                                                                <span class="m-nav__link-text">
                                                                    Yeni Ekle
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" data-toggle="modal" data-target="#modalConfirmContract">
                                                                <i class="m-nav__link-icon flaticon-delete"></i>
                                                                <span class="m-nav__link-text">
                                                                    Sil
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="btnEditContract(gridContract);" data-toggle="modal" data-target="#m_modal_5">
                                                                <i class="m-nav__link-icon flaticon-edit"></i>
                                                                <span class="m-nav__link-text">
                                                                    Düzenle
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="m-portlet__body">
                        <dx-data-grid #gridContract id="gridContainer" [dataSource]="contractSource" [showRowLines]="true" [showBorders]="true">
                            <dxo-paging [pageSize]="20"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true">
                            </dxo-pager>
                            <dxi-column dataField="id"></dxi-column>
                            <dxi-column dataField="type"></dxi-column>
                            <dxi-column dataField="price"></dxi-column>
                            <dxi-column dataField="description"></dxi-column>
                            <dxo-selection [selectAllMode]="allPages" [showCheckBoxesMode]="onClick" mode="multiple"></dxo-selection>
                        </dx-data-grid>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--warning" style="width: 340px !important;">
                                    <span>
                                        Onay Bekleyen Resimler
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <dx-data-grid (onRowClick)="rowClick($event)" #gridImage id="gridContainer" [dataSource]="imagesSource" [showRowLines]="true" [showBorders]="true">
                            <dxo-paging [pageSize]="20"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true">
                            </dxo-pager>
                            <dxi-column dataField="restName"></dxi-column>
                            <dxi-column dataField="info"></dxi-column>
                            <dxi-column captipn="İşlemler" cellTemplate="islemTemplate"></dxi-column>
                            <div *dxTemplate="let data of 'islemTemplate'">
                                <button type="button" class="btn m-btn--pill m-btn--air btn-outline-primary" (click)="btnImagesOnay(data)" data-dismiss="modal">
                                    Onayla
                                </button>
                                <button type="button" class="btn m-btn--pill m-btn--air btn-outline-danger" (click)="btnImagesRed(data)" data-dismiss="modal">
                                    Reddet
                                </button>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{popupTitle}}
                </h5>
                <button id="btnCloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="modal-body row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label for="recipient-name" class="form-control-label">
                                    Ünvan:
                                </label>
                                <div [hidden]="form.controls.Name.valid || form.controls.Name.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                                <input formControlName="Name" type="text" class="form-control" id="recipient-name11" required>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="userName-name" class="form-control-label">
                                    Kullanıcı Adı:
                                </label>
                                <div [hidden]="form.controls.UserName.valid || form.controls.UserName.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                                <input formControlName="UserName" type="text" class="form-control" required>
                            </div>
                            <div class="form-group  col-lg-3">
                                <label for="password-name" class="form-control-label">
                                    Şifre:
                                </label>
                                <!-- <div [hidden]="form.controls.Password.valid || form.controls.Password.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div> -->
                                <input formControlName="Password" type="password" class="form-control" required>
                            </div>
                            <div class="form-group  col-lg-3">
                                <label for="email-name" class="form-control-label">
                                    Email:
                                </label>
                                <div [hidden]="form.controls.Email.valid || form.controls.Email.pristine" class="alert alert-danger">Geçerli bir email adresi girin.</div>
                                <input formControlName="Email" type="text" class="form-control" id="email-name1" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-lg-3">
                                <label for="email-name" class="form-control-label">
                                            Kontratlar:
                                        </label>
                                <div [hidden]="form.controls.ContractId.valid || form.controls.ContractId.pristine" class="alert alert-danger">Geçerli bir kontrat seçin.</div>
                                <dx-select-box formControlName="ContractId" [dataSource]="contractSource" valueExpr="id" displayExpr="type">
                                </dx-select-box>
                            </div>

                            <div class="m-form__group form-group  col-lg-2">
                                <label class="form-control-label" for="aktif-text" style="margin-left: 15px;">
                                    Aktif:
                                </label>
                                <div [hidden]="form.controls.isActive.valid || form.controls.isActive.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                                <div class="col-3">
                                    <span class="m-switch m-switch--icon m-switch--info">
                                        <label>
                                            <input formControlName="isActive" name="" type="checkbox">
                                            <span></span>
                                    </label>
                                    </span>
                                </div>
                            </div>
                            <div class="m-form__group form-group  col-lg-6">
                                <label class="form-control-label" for="reklamli-text" style="margin-left: 15px;">
                                    Reklamlı:
                                </label>
                                <div [hidden]="form.controls.isPromo.valid || form.controls.isPromo.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                                <div class="col-3">
                                    <span class="m-switch m-switch--icon m-switch--info">
                                        <label>
                                            <input formControlName="isPromo" name="" type="checkbox">
                                            <span></span>
                                    </label>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="enlem-text" class="form-control-label">
                                        Enlem:
                                    </label>
                                <div [hidden]="form.controls.Latitude.valid || form.controls.Latitude.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                                <input formControlName="Latitude" type="text" class="form-control" id="latd-name1" required>
                            </div>

                            <div class="form-group col-lg-3">
                                <label for="boylam-text" class="form-control-label">
                                        Boylam:
                                    </label>
                                <div [hidden]="form.controls.Longitude.valid || form.controls.Longitude.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                                <input formControlName="Longitude" type="text" class="form-control" id="long-name1" required>
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="adres-text" class="form-control-label">
                                        Adres:
                                    </label>
                                <div [hidden]="form.controls.Adress.valid || form.controls.Adress.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                                <textarea rows="10" cols="50" formControlName="Adress" class="form-control" id="adres-text" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <div class="m-portlet m-portlet--success m-portlet--head-solid-bg">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon">
                                                <i class="flaticon-placeholder-2"></i>
                                            </span>
                                            <h3 class="m-portlet__head-text">
                                                Ürün Ekle
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="m-portlet__head-tools">
                                        <ul class="m-portlet__nav">
                                            <li class="m-portlet__nav-item">
                                                <a href="" class="m-portlet__nav-link m-portlet__nav-link--icon" data-toggle="modal" data-target="#modalProduct">
                                                    <i class="la la-plus"></i>
                                                </a>
                                            </li>
                                            <li class="m-portlet__nav-item">
                                                <a href="" class="m-portlet__nav-link m-portlet__nav-link--icon" (click)="removeUrun(gridProduct)">
                                                    <i class="la la-close"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <dx-data-grid #gridProduct id="gridContainer" [dataSource]="prodcutsDTO" [showRowLines]="true" [showBorders]="true">
                                        <dxo-paging [pageSize]="20"></dxo-paging>
                                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true">
                                        </dxo-pager>
                                        <dxo-selection [selectAllMode]="allPages" [showCheckBoxesMode]="onClick" mode="multiple"></dxo-selection>
                                    </dx-data-grid>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="m-portlet m-portlet--success m-portlet--head-solid-bg">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon">
                                                <i class="flaticon-placeholder-2"></i>
                                            </span>
                                            <h3 class="m-portlet__head-text">
                                                Promosyon Ekle
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="m-portlet__head-tools">
                                        <ul class="m-portlet__nav">
                                            <li class="m-portlet__nav-item">
                                                <a href="" class="m-portlet__nav-link m-portlet__nav-link--icon" data-toggle="modal" data-target="#modalPromotion">
                                                    <i class="la la-plus"></i>
                                                </a>
                                            </li>
                                            <li class="m-portlet__nav-item">
                                                <a href="" class="m-portlet__nav-link m-portlet__nav-link--icon" (click)="removePromosyon(gridPromosyon)">
                                                    <i class="la la-close"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <dx-data-grid #gridPromosyon id="gridContainer" [dataSource]="promotionDTO" [showRowLines]="true" [showBorders]="true">
                                        <dxo-paging [pageSize]="20"></dxo-paging>
                                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true">
                                        </dxo-pager>
                                        <dxo-selection [selectAllMode]="allPages" [showCheckBoxesMode]="onClick" mode="multiple"></dxo-selection>
                                        <dxi-column dataField="ProductId" cellTemplate="cellTemplate"></dxi-column>
                                        <dxi-column dataField="Claim"></dxi-column>
                                        <dxi-column dataField="Status"></dxi-column>
                                        <div *dxTemplate="let data of 'cellTemplate'">
                                            {{prductCellCustom(data.value)}}
                                        </div>
                                    </dx-data-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Kapat
                    </button>
                    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
                        Kaydet
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>




<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{popupTitle}}
                </h5>
                <button id="btnCloseContractModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form [formGroup]="formContract" (ngSubmit)="onSubmitContract()">
                <div class="modal-body row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label for="recipient-name" class="form-control-label">
                                    Tip:
                                </label>
                                <div [hidden]="formContract.controls.Type.valid || formContract.controls.Type.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                                <input formControlName="Type" type="text" class="form-control" id="recipient-name21" required>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="userName-name" class="form-control-label">
                                    Fiyat:
                                </label>
                                <div [hidden]="formContract.controls.Price.valid || formContract.controls.Price.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                                <input formControlName="Price" type="text" class="form-control" required>
                            </div>
                            <div class="form-group  col-lg-12">
                                <label for="password-name" class="form-control-label">
                                    Açıklama:
                                </label>
                                <div [hidden]="formContract.controls.Description.valid || formContract.controls.Description.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                                <textarea rows="10" cols="50" formControlName="Description" class="form-control" id="aciklama-text" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Kapat
                    </button>
                    <button type="submit" [disabled]="!formContract.valid" class="btn btn-primary">
                        Kaydet
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Sil
                </h5>
                <button id="btnCloseConfirmModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Silme işlemine devam etmek istediğinize emin misinizz ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Kapat
                </button>
                <button type="submit" (click)="btnDelete()" class="btn btn-primary">
                    Sil
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Sil
                </h5>
                <button id="btnCloseConfirmModalContract" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Silme işlemine devam etmek istediğinize emin misinizz ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Kapat
                </button>
                <button type="submit" (click)="btnDeleteContract(gridContract)" class="btn btn-primary">
                    Sil
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Ürün Ekle
                </h5>
                <button id="btnCloseConfirmProductModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formProduct">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group">
                                <label for="example_input_full_name">
                                    Ürün Adı:
                                </label>
                                <input formControlName="Description" type="text" class="form-control m-input" placeholder="Ürün Adı">
                                <div [hidden]="formProduct.controls.Description.valid || formProduct.controls.Description.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                            </div>
                            <div class="form-group m-form__group">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Durum
                                </label>

                                <select formControlName="Status" class="form-control m-bootstrap-select m_selectpicker">
                                    <option *ngFor="let s of status" [value]="s.Value">
                                        {{s.Name}}
                                    </option>
                                </select>
                                <div [hidden]="formProduct.controls.Status.valid || formProduct.controls.Status.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                            </div>
                            <div class="form-group m-form__group">
                                <label>
                                    Bitiş Tarihi:
                                </label>
                                <ng-datepicker [options]="options" class="form-control" formControlName="DueDate"> </ng-datepicker>
                                <!-- <input formControlName="DueDate" type="datetime-local" class="form-control" readonly placeholder="Tarih Seçiniz"/> -->
                                <div [hidden]="formProduct.controls.DueDate.valid || formProduct.controls.DueDate.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Kapat
                </button>
                <button type="button" [disabled]="!formProduct.valid" (click)="btnAddProduct()" class="btn btn-primary">
                    Ekle
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalPromotion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Promosyon Ekle
                </h5>
                <button id="btnCloseConfirmPromotionModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formPromotion">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Ürün
                                </label>

                                <dx-select-box formControlName="Product" [dataSource]="prodcutsDTO" valueExpr="Id" displayExpr="Description"></dx-select-box>

                                <div [hidden]="formPromotion.controls.Product.valid || formPromotion.controls.Product.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                            </div>
                            <div class="form-group m-form__group">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Durum
                                </label>


                                <select formControlName="Status" class="form-control m-bootstrap-select m_selectpicker">
                                    <option *ngFor="let s of status" [value]="s.Value">
                                        {{s.Name}}
                                    </option>
                                </select>
                                <div [hidden]="formPromotion.controls.Status.valid || formPromotion.controls.Status.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                            </div>
                            <div class="form-group m-form__group">
                                <label>
                                    Hak Sayısı:
                                </label>
                                <input formControlName="Claim" type="text" class="form-control m-input" placeholder="">
                                <div [hidden]="formPromotion.controls.Claim.valid || formPromotion.controls.Claim.pristine" class="alert alert-danger">Bu alanı boş geçemezsiniz.</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Kapat
                </button>
                <button type="button" [disabled]="!formPromotion.valid" (click)="btnAddPromotion()" class="btn btn-primary">
                    Ekle
                </button>
            </div>
        </div>
    </div>
</div>

<dx-popup class="popup" [showTitle]="true" title="Resim" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="popupImgVisible">
    <div *dxTemplate="let data of 'content'">
        <img [src]="'data:image/jpg;base64,'+imagePath" />
    </div>
</dx-popup>