<header class="m-grid__item		m-header" data-minimize="minimize" data-minimize-offset="200" data-minimize-mobile-offset="200"
 appunwraptag="">
	<div class="m-header__top">
		<div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
			<div class="m-stack m-stack--ver m-stack--desktop">
				<div class="m-stack__item m-brand">
					<div class="m-stack m-stack--ver m-stack--general m-stack--inline">
						<div class="m-stack__item m-stack__item--middle m-brand__logo">
							<a routerLink="/index" class="m-brand__logo-wrapper">
								<img alt="" src="./assets/demo/demo2/media/img/logo/logo.png" />
							</a>
						</div>
						<!-- <div class="m-stack__item m-stack__item--middle m-brand__tools">
							<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push" data-dropdown-toggle="click"
							 aria-expanded="true">
								<a href="#" class="dropdown-toggle m-dropdown__toggle btn btn-outline-metal m-btn  m-btn--icon m-btn--pill">
									<span>
										Dashboard
									</span>
								</a>
								<div class="m-dropdown__wrapper">
									<span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<ul class="m-nav">
													<li class="m-nav__section m-nav__section--first m--hide">
														<span class="m-nav__section-text">
															Quick Menu
														</span>
													</li>
													<li class="m-nav__item">
														<a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-share"></i>
															<span class="m-nav__link-text">
																Human Resources
															</span>
														</a>
													</li>
													<li class="m-nav__item">
														<a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-chat-1"></i>
															<span class="m-nav__link-text">
																Customer Relationship
															</span>
														</a>
													</li>
													<li class="m-nav__item">
														<a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-info"></i>
															<span class="m-nav__link-text">
																Order Processing
															</span>
														</a>
													</li>
													<li class="m-nav__item">
														<a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-lifebuoy"></i>
															<span class="m-nav__link-text">
																Accounting
															</span>
														</a>
													</li>
													<li class="m-nav__separator m-nav__separator--fit"></li>
													<li class="m-nav__item">
														<a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-chat-1"></i>
															<span class="m-nav__link-text">
																Customer Relationship
															</span>
														</a>
													</li>
													<li class="m-nav__item">
														<a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-info"></i>
															<span class="m-nav__link-text">
																Order Processing
															</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
								<span></span>
							</a>
							<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
								<i class="flaticon-more"></i>
							</a>
						</div> -->
					</div>
				</div>
				<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
					<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
						<div class="m-stack__item m-topbar__nav-wrapper">
							<ul class="m-topbar__nav m-nav m-nav--inline">

								<li class="m-nav__item" style="margin-top:20px">

									<a routerLink="/snippets/pages/user/login-1" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder"
									 routerLink="/logout">
										Çıkış
									</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-header__bottom">
		<div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
			<div class="m-stack m-stack--ver m-stack--desktop">
				<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
					<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light" id="m_aside_header_menu_mobile_close_btn">
						<i class="la la-close"></i>
					</button>
					<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light">
						<ul class="m-menu__nav  m-menu__nav--submenu-arrow">
							<li *ngIf="currentUser.isAdmin" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
							 aria-haspopup="true">
								<a routerLink="/index" class="m-menu__link">
									<span class="m-menu__item-here"></span>
									<span class="m-menu__link-text">
										Admin Dashboard
									</span>
								</a>
							</li>

							<li *ngIf="currentUser.isAdmin" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: false }"
							 aria-haspopup="false">
								<a routerLink="/admin" class="m-menu__link">
									<span class="m-menu__item-here"></span>
									<span class="m-menu__link-text">
										Admin
									</span>
								</a>
							</li>

							<li *ngIf="!currentUser.isAdmin" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: false }" aria-haspopup="false">
								<a routerLink="/dashboard" class="m-menu__link">
									<span class="m-menu__item-here"></span>
									<span class="m-menu__link-text">
										Dashboard
									</span>
								</a>
							</li>

							<li *ngIf="!currentUser.isAdmin" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: false }" aria-haspopup="false">
								<a routerLink="/profile" class="m-menu__link">
									<span class="m-menu__item-here"></span>
									<span class="m-menu__link-text">
										Profil
									</span>
								</a>
							</li>

							<li *ngIf="!currentUser.isAdmin" class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: false }" aria-haspopup="false">
								<a routerLink="/notifiPanel" class="m-menu__link">
									<span class="m-menu__item-here"></span>
									<span class="m-menu__link-text">
										Notifikasyon Paneli
									</span>
								</a>
							</li>


						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
</header>